body {
  background-color: black;
}

p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 7.2em;
  line-height: 0;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

img {
  height: 5.2em;

  background: url(03);
  border-radius: 160px;
}

footer {
  text-align: center;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 12.9cap;
  width: 1210px;

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) calc(50% - 1px),
    rgb(255, 254, 254) calc(51%),
    rgba(0, 0, 0, 0) calc(52% + 1px)
  );
  height: fit-content;
}

button {
  --corner-size: 40px;
  width: 292px;
  height: 80px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  position: relative;
  text-align: center;
  color: black;
  background: #ffffff;
  border: none;
  clip-path: polygon(
    var(--corner-size) 0,
    calc(100% - var(--corner-size)) 0,
    100% var(--corner-size),
    100% calc(100% - var(--corner-size)),
    calc(100% - var(--corner-size)) 100%,
    var(--corner-size) 100%,
    0 calc(100% - var(--corner-size)),
    0 var(--corner-size)
  );
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 1920px;
  position: absolute;
  height: 480px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-string {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 32px;
  height: 120px;
}
